body{
    background: #eeee;
    
    font: size 0.8em; ;
}
.container{
    width: 50%;
    
}
.icon{
    position: relative;
    top: 50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: 50px;
}